######################
# Logs and databases #
######################
*\.log
.DS_Store

####################
# Eclipse metadata #
####################
\.project
\.pydevproject
\.settings/

#############
# vim files #
#############
*\.swp
*~
\#*\#

################# 
# pycharm files #
#################
\.idea


#################
# ansible files #
# ###############
*\.retry
