---
################################################################################
# Bio-DAMNED - Bio-Data Ansible MaNagED                                        #
#                                                                              #
# Authors: Bertrand Néron                                                      #
# Copyright © 2016  Institut Pasteur (Paris).                                  #
#                                                                              #
# Bio-DAMNED is distributed under the terms of the GNU General Public License  #
# (GPLv3). See the LICENSE file for details.                                   #
################################################################################

- include: common_tasks/setup_general_bank_tree.yml

- include: common_tasks/setup_specific_bank_tree.yml

- include: common_tasks/get_data.yml ext=fa

- name: Running squizz on "{{ bank_name }}"  to check format
  become: yes
  become_user: "{{ bank_user }}"
  shell: squizz {{ bank_root }}/{{ bank_name }}/uncompressed/{{ bank_name }}.fa
  register: format

- name: Reformating "{{ bank_name }}" in fasta format
  become: yes
  become_user: "{{ bank_user }}"
  when: "'FASTA' in format.stderr"
  shell: squizz -c FASTA -f FASTA {{ bank_root }}/{{ bank_name }}/uncompressed/{{ bank_name }}.fa > {{ bank_root }}/{{ bank_name }}/fasta/{{ bank_name }}.fa

- name: Copying {{ bank_name }} in fasta subdirectory without reformating
  become: yes
  become_user: "{{ bank_user }}"
  when: "not 'FASTA' in format.stderr"
  copy:
    src={{ bank_root }}/{{ bank_name }}/uncompressed/{{ bank_name }}.fa
    dest={{ bank_root }}/{{ bank_name }}/fasta/{{ bank_name }}.fa
    remote_src=True
    owner={{ bank_user }}
    group={{ bank_group }}
    mode=0644

- include: common_tasks/link_fasta.yml


- set_fact: blast2="{{ indexers | selectattr('tool', 'equalto', 'blast2')|list}}"
- name: Start blast2 indexing
  include: common_tasks/blast2_indexing.yml
  with_items: "{{ blast2[0].vers }}"
  loop_control:
    loop_var: blast2_vers

- set_fact: blast+="{{ indexers | selectattr('tool', 'equalto', 'blast+')|list}}"
- name: Start blast+ indexing
  include: common_tasks/blast+_indexing.yml
  with_items: "{{ blast+[0].vers }}"
  loop_control:
    loop_var: blast+_vers
