---
################################################################################
# Bio-DAMNED - Bio-Data Ansible MaNagED                                        #
#                                                                              #
# Authors: Bertrand Néron                                                      #
# Copyright © 2016  Institut Pasteur (Paris).                                  #
#                                                                              #
# Bio-DAMNED is distributed under the terms of the GNU General Public License  #
# (GPLv3). See the LICENSE file for details.                                   #
################################################################################

- include: ../genbank_bank/tasks/main.yml

- include: common_tasks/bwa_indexing.yml

- include: common_tasks/soap_indexing.yml

- include: common_tasks/bowtie_indexing.yml

- include: common_tasks/bowtie2_indexing.yml

- include: common_tasks/picard_indexing.yml

- include: common_tasks/samtools_indexing.yml

- include: common_tasks/gatk_indexing.yml



